In [3]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Alfred,ZA,2021-04-18 05:03:01,-33.5906,26.8910,67.08,30,3,8.10
1,1,Mugumu,TZ,2021-04-18 05:03:01,-1.8500,34.7000,63.10,82,88,6.13
2,2,Kaberamaido,UG,2021-04-18 05:03:02,1.7389,33.1594,70.48,83,77,2.35
3,3,Husavik,IS,2021-04-18 05:03:02,66.0449,-17.3389,35.60,93,75,2.95
4,4,Butaritari,KI,2021-04-18 05:03:02,3.0707,172.7902,82.17,77,99,9.26

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[['Lat', 'Lng']]

# Get the maximum temperature.
max_temp = city_data_df['Max Temp']

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False,
                                 max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False,
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False,
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False,
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Butaritari,KI,2021-04-18 05:03:02,3.0707,172.7902,82.17,77,99,9.26
6,6,Puerto Ayora,EC,2021-04-18 05:00:31,-0.7393,-90.3518,75.00,100,76,3.27
11,11,Hithadhoo,MV,2021-04-18 05:03:05,-0.6000,73.0833,82.31,62,54,4.99
12,12,Kavieng,PG,2021-04-18 05:03:05,-2.5744,150.7967,83.23,74,56,9.08
18,18,Arraial Do Cabo,BR,2021-04-18 05:03:07,-22.9661,-42.0278,75.36,81,99,20.96
...,...,...,...,...,...,...,...,...,...,...
552,552,Camocim,BR,2021-04-18 05:06:02,-2.9022,-40.8411,75.49,91,59,8.03
553,553,Pochutla,MX,2021-04-18 05:06:02,15.7432,-96.4661,77.00,83,3,1.01
555,555,Acapulco,MX,2021-04-18 05:01:52,16.8634,-99.8901,76.69,71,0,6.73
561,561,Les Cayes,HT,2021-04-18 05:06:04,18.2000,-73.7500,76.80,86,14,7.72
563,563,Teknaf,BD,2021-04-18 05:06:05,20.8624,92.3058,87.96,53,0,10.00

In [20]:
preferred_cities_df.count()

City_ID       142
City          142
Country       141
Date          142
Lat           142
Lng           142
Max Temp      142
Humidity      142
Cloudiness    142
Wind Speed    142
dtype: int64

In [21]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Butaritari,KI,2021-04-18 05:03:02,3.0707,172.7902,82.17,77,99,9.26
6,6,Puerto Ayora,EC,2021-04-18 05:00:31,-0.7393,-90.3518,75.00,100,76,3.27
11,11,Hithadhoo,MV,2021-04-18 05:03:05,-0.6000,73.0833,82.31,62,54,4.99
12,12,Kavieng,PG,2021-04-18 05:03:05,-2.5744,150.7967,83.23,74,56,9.08
18,18,Arraial Do Cabo,BR,2021-04-18 05:03:07,-22.9661,-42.0278,75.36,81,99,20.96
...,...,...,...,...,...,...,...,...,...,...
552,552,Camocim,BR,2021-04-18 05:06:02,-2.9022,-40.8411,75.49,91,59,8.03
553,553,Pochutla,MX,2021-04-18 05:06:02,15.7432,-96.4661,77.00,83,3,1.01
555,555,Acapulco,MX,2021-04-18 05:01:52,16.8634,-99.8901,76.69,71,0,6.73
561,561,Les Cayes,HT,2021-04-18 05:06:04,18.2000,-73.7500,76.80,86,14,7.72
563,563,Teknaf,BD,2021-04-18 05:06:05,20.8624,92.3058,87.96,53,0,10.00

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
4        Butaritari      KI     82.17   3.0707  172.7902
6      Puerto Ayora      EC     75.00  -0.7393  -90.3518
11        Hithadhoo      MV     82.31  -0.6000   73.0833
12          Kavieng      PG     83.23  -2.5744  150.7967
18  Arraial Do Cabo      BR     75.36 -22.9661  -42.0278
23          Rikitea      PF     77.31 -23.1203 -134.9692
37            Vaini      TO     75.20 -21.2000 -175.2000
38          Salalah      OM     84.20  17.0151   54.0924
39           Atuona      PF     80.55  -9.8000 -139.0333
45        Carnarvon      AU     82.53 -24.8667  113.6333

In [32]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Butaritari,KI,82.17,3.0707,172.7902,Isles Sunset Lodge
6,Puerto Ayora,EC,75.00,-0.7393,-90.3518,Finch Bay Galapagos Hotel
11,Hithadhoo,MV,82.31,-0.6000,73.0833,Scoop Guest House
12,Kavieng,PG,83.23,-2.5744,150.7967,Nusa Island Retreat
18,Arraial Do Cabo,BR,75.36,-22.9661,-42.0278,Pousada Porto Praia
23,Rikitea,PF,77.31,-23.1203,-134.9692,Pension Maro'i
37,Vaini,TO,75.20,-21.2000,-175.2000,Keleti Beach Resort
38,Salalah,OM,84.20,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
39,Atuona,PF,80.55,-9.8000,-139.0333,Villa Enata
45,Carnarvon,AU,82.53,-24.8667,113.6333,Hospitality Carnarvon

In [34]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]