## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tuatapere,NZ,-46.1333,167.6833,53.01,89,66,3.00,broken clouds
1,1,Punta Arenas,CL,-53.1500,-70.9167,48.20,87,0,5.75,clear sky
2,2,The Valley,AI,18.2170,-63.0578,87.80,69,20,12.66,few clouds
3,3,Adiake,CI,5.2863,-3.3040,84.20,79,20,6.91,few clouds
4,4,Antofagasta,CL,-23.6500,-70.4000,70.00,72,20,13.80,few clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,The Valley,AI,18.2170,-63.0578,87.80,69,20,12.66,few clouds
3,3,Adiake,CI,5.2863,-3.3040,84.20,79,20,6.91,few clouds
6,6,Vanimo,PG,-2.6741,141.3028,76.41,86,100,2.01,overcast clouds
7,7,Vao,NC,-22.6667,167.4833,77.11,77,55,9.53,heavy intensity rain
8,8,Sola,VU,-13.8833,167.5500,82.62,72,99,7.34,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
730,730,Russell,US,32.3502,-85.1999,75.20,38,20,5.75,few clouds
731,731,Durango,MX,24.8333,-104.8333,77.34,9,6,4.99,clear sky
732,732,Andros Town,BS,24.7000,-77.7667,84.20,65,40,3.44,scattered clouds
734,734,Kharan,PK,28.5833,65.4167,79.61,14,88,1.19,overcast clouds
736,736,Noumea,NC,-22.2763,166.4572,75.99,88,0,2.30,clear sky

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                245
City                   245
Country                242
Lat                    245
Lng                    245
Max Temp               245
Humidity               245
Cloudiness             245
Wind Speed             245
Current Description    245
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,The Valley,AI,18.2170,-63.0578,87.80,69,20,12.66,few clouds
3,3,Adiake,CI,5.2863,-3.3040,84.20,79,20,6.91,few clouds
6,6,Vanimo,PG,-2.6741,141.3028,76.41,86,100,2.01,overcast clouds
7,7,Vao,NC,-22.6667,167.4833,77.11,77,55,9.53,heavy intensity rain
8,8,Sola,VU,-13.8833,167.5500,82.62,72,99,7.34,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
730,730,Russell,US,32.3502,-85.1999,75.20,38,20,5.75,few clouds
731,731,Durango,MX,24.8333,-104.8333,77.34,9,6,4.99,clear sky
732,732,Andros Town,BS,24.7000,-77.7667,84.20,65,40,3.44,scattered clouds
734,734,Kharan,PK,28.5833,65.4167,79.61,14,88,1.19,overcast clouds
736,736,Noumea,NC,-22.2763,166.4572,75.99,88,0,2.30,clear sky

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,The Valley,AI,87.80,few clouds,18.2170,-63.0578,
3,Adiake,CI,84.20,few clouds,5.2863,-3.3040,
6,Vanimo,PG,76.41,overcast clouds,-2.6741,141.3028,
7,Vao,NC,77.11,heavy intensity rain,-22.6667,167.4833,
8,Sola,VU,82.62,overcast clouds,-13.8833,167.5500,
13,Bambous Virieux,MU,77.00,moderate rain,-20.3428,57.7575,
15,Bathsheba,BB,86.00,scattered clouds,13.2167,-59.5167,
16,Rikitea,PF,77.50,clear sky,-23.1203,-134.9692,
25,Kavieng,PG,81.79,overcast clouds,-2.5744,150.7967,
31,Isangel,VU,78.60,scattered clouds,-19.5500,169.2667,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna().head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,The Valley,AI,87.80,few clouds,18.2170,-63.0578,CeBlue Villas & Beach Resort
3,Adiake,CI,84.20,few clouds,5.2863,-3.3040,Monhotel résidence Inn Adiake
6,Vanimo,PG,76.41,overcast clouds,-2.6741,141.3028,Vahmoneh Lodge Vanimo
7,Vao,NC,77.11,heavy intensity rain,-22.6667,167.4833,Hotel Kou-Bugny
8,Sola,VU,82.62,overcast clouds,-13.8833,167.5500,Leumerus Bungalows
13,Bambous Virieux,MU,77.00,moderate rain,-20.3428,57.7575,Casa Tia Villa
15,Bathsheba,BB,86.00,scattered clouds,13.2167,-59.5167,Atlantis Hotel
16,Rikitea,PF,77.50,clear sky,-23.1203,-134.9692,Pension Maro'i
25,Kavieng,PG,81.79,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
31,Isangel,VU,78.60,scattered clouds,-19.5500,169.2667,Volcano Sea View Tree House

In [12]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [22]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))